<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% load static %}

<html lang="en">
<head>
<title>Personal Folio</title>
	
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="Personal View Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--// Meta tag Keywords -->
    
	<!-- css files -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"> <!-- Bootstrap-Core-CSS -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" /> <!-- Style-CSS -->
	<link rel="stylesheet" href="{% static 'css/fontawesome-all.css' %}"> <!-- Font-Awesome-Icons-CSS -->
	<!-- //css files -->
	
      <!--lightbox -->
      <link rel="stylesheet" href="{% static 'css/lightbox.css' %}">
      <!-- lightbox -->

	<!--web font-->
	<link href="//fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=cyrillic,cyrillic-ext,latin-ext,vietnamese" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
	<!--//web font-->

</head>

<body>
{% block content %}
<header>	
<div class="container">
<!-- nav -->
		<nav class="navbar navbar-expand-lg navbar-light py-4">
			<!-- logo -->
			<h1>
				<a class="navbar-brand" href="index.html">
					Personal <span>folio</span>
				</a>
			</h1>
			<!-- //logo -->
			<button class="navbar-toggler ml-md-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<!-- main nav -->
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-lg-auto text-center">
					<li class="nav-item active mr-lg-4">
						<a class="nav-link" href="index.html">Home
							<span class="sr-only">(current)</span>
						</a>
					</li>
					<li class="nav-item mr-lg-4">
						<a class="nav-link scroll" href="#about">about</a>
					</li>
					<li class="nav-item mr-lg-4">
						<a class="nav-link scroll" href="#services">Services</a>
					</li>
					<li class="nav-item mr-lg-4">
						<a class="nav-link scroll" href="#experience">Experience</a>
					</li>
					<li class="dropdown nav-item mr-lg-4">
						<a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle ">
							Pages
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu" role="menu">
							<li class="nav-item">
								<a href="#blog" class="nav-link scroll">Blog</a>
							</li>
							<li class="nav-item">
								<a href="#projects" class="nav-link scroll">Projects</a>
							</li>
							<div class="dropdown-divider"></div>
						</ul>
					</li>
					<li class="nav-item">
						<a class="nav-link scroll" href="#contact">Contact</a>
					</li>
				</ul>
			</div>
			<!-- //main nav -->
		</nav>
		<!-- //nav -->
</div>
</header>
		
<!-- banner -->
<section class="banner">
	<div class="banner-layer">
		<div class="container">
			<div class="row agile_banner_info">
				<div class="col-md-7 agile_banner_margin">
					<h5>Hi, Welcome to my folio!</h5>
					<h2>My name is <span>Hosney Ara Smrity</span></h2>
					<h4> FUll Stack Web Developer</h4>
					<p>Good and Awesome designs can make your bussiness outstanding which I design/develop website.My expertise extend from building responsive website that function admirably cross-platform to building varsatile website for bussiness.</p>
					<a href="#"> Just Place Order </a>
				</div>
				<div class="col-md-5 image_margin">
					<img src="/static/images/img.io.png" alt="" class="img-fluid" />
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //banner -->	

<!-- about -->
<section class="about py-5" id="about">
	<div class="container py-3">
		<h3 class="heading">About Me</h3>
		<div class="row about-grids">
			<div class="col-lg-4">
				<h4>FULL STACK WEB DEVELOPER.</h4>
				<p>I am a full stack web developer.I have been designing and developing Responsive or dynamic websites for more than  5 years. I work with focus on standard , Aesthethis and personalism to deliver right product for your bussiness.My specific areas of expertise includes: Django, Bootstrap, HTML, CSS, JavaScripts, MySQL.</p>
				<a href="https://drive.google.com/file/d/1Xc0Xe89Z-ogoCYt5nVEeDj-kcIJXdaw0/view?usp=drive_open"> Download CV <span class="fa ml-2 fa-download"></span> </a>
			</div>
			<div class="col-lg-4 col-md-6 my-lg-0 my-5">
				<img src="/static/images/img.io.png" alt="" class="img-fluid" />
			</div>
			<div class="col-lg-4 bar-grids">
				<div class="wthree_skills">
					<h6>Designing<span> 90% </span></h6>
					<div class="progress">
						<div class="progress-bar progress-bar-striped active" style="width: 95%">
						</div>
					</div>
					<h6>Developing<span> 96% </span></h6>
					<div class="progress">
						<div class="progress-bar progress-bar-striped active" style="width: 85%">
						</div>
					</div>
					<h6>Web Application<span>95% </span></h6>
					<div class="progress">
						<div class="progress-bar progress-bar-striped active" style="width: 90%">
						</div>
					</div>
					<h6>MySQL<span>95% </span></h6>
					<div class="progress">
						<div class="progress-bar progress-bar-striped active" style="width: 75%">
						</div>
					</div>
					<h6>SEO<span>45% </span></h6>
					<div class="progress prgs-w3agile-last">
						<div class="progress-bar progress-bar-striped active" style="width: 45%">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- about -->

<!-- services -->
<section class="services py-5" id="services">
	<div class="container py-3">
		<h3 class="heading">Services</h3>
		<div class="row service-grids">
			<div class="col-lg-4 col-md-6 agile w3-icon-grid1">
				<h3><i class="fas mr-2 fa-cogs" aria-hidden="true"></i> Front-End Development</h3>
				<p>Writing reusable, testable, and efficient code. Design and implementation of low-latency, high-availability, and performant applications
</p>
			</div>
			<div class="col-lg-4 col-md-6 agile mt-md-0 mt-sm-5 mt-4 w3-icon-grid1">
				<h3><i class="fa mr-2 fa-mobile" aria-hidden="true"></i>Web Application</h3>
				<p> I am available to build application solid and reliable on different fronts such as design, scalability, robustness, Writing reusable, testable, and efficient code. Design and implementation of low-latency, high-availability, and performant applications
 </p>
			</div>
				<p>
			<div class="col-lg-4 col-md-6 agile mt-lg-0 mt-sm-5 mt-4 w3-icon-grid1">
				<h3><i class="fa mr-2 fa-laptop" aria-hidden="true"></i>Web Development</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisci ngelit. In euismod faucibus quam. placerat placerat dolor. Vestibulum</p>
			</div>
			<div class="col-lg-4 col-md-6 agile mt-sm-5 mt-4 w3-icon-grid1">
				<h3><i class="fas mr-2 fa-camera" aria-hidden="true"></i> Bootstrap</h3>
				<p>I choose bootstrap for building unique and eye-catching websites. </p>
			</div>
			<div class="col-lg-4 col-md-6 agile mt-sm-5 mt-4 w3-icon-grid1">
				<h3><i class="fab mr-2 fa-accusoft" aria-hidden="true"></i>Back-End Development</h3>
				<p>Interested in building a backend system to handle millions of identity verification transactions? Curious about designing a scalable backend infrastructure to securely store and access identity data like passports and identity documents? I am the right person here.
</p>
			</div>
			<div class="col-lg-4 col-md-6 agile mt-sm-5 mt-4 w3-icon-grid1">
				<h3><i class="fas mr-2 fa-chart-pie" aria-hidden="true"></i>MySQL</h3>

		<p>Able to create database schemas that represent and support business processes.Implementation of security and data protection.Able to integrate multiple data sources and databases into one system. Strong knowledge of Data structure and Algorithm.</p>
			</div>
	    </div>
</section>
<!-- //services -->

<!-- experience -->
<section class="experience py-5" id="experience">
	<div class="container py-3">
		<h3 class="heading">Experience</h3>
		<div class="row exp-grids">
			<div class="col-md-3 exp wthree">
				<h4>Front-End Development</h4>
				<h5>2017 - 2018</h5>
			</div>
			<div class="col-md-9 mt-md-0 mt-4 wthree">
				<p>1.Writing reusable, testable, and efficient code
					2.Design and implementation of low-latency, high-availability, and performant applications
                    3.Implementation of security and data protection
-                   4.Implementing new Django projects (full-stack)
-                   5.Maintaining existing projects
-                   6.Clearly and regularly communicate and collaborate with the team
-                   7.Recommending improvements as necessary
</p>
			</div>
		</div>
		<div class="row exp-grid1 mt-5 wthree">
			<div class="col-md-9 mb-md-0 mb-4">
				<p>I'm a full stack developer and know how to run a business. You need only describe a high level overview of requirements without detailed specifications to get what you need. I often fix things other developers have been unable to solve. I've created information security systems and worked with large financial & erp systems and small startups and created many applications. Customer satisfaction is my number one goal. Meeting the client’s needs and requirements, providing efficient and high-quality solutions are in my primary objectives. My aim is to provide world-class services for software and web development solutions. </p>
			</div>
			<div class="col-md-3 exp1 wthree">
				<h4>Web Developement</h4>
				<h5>2010 - 2013</h5>
			</div>
		</div>
		<div class="row exp-grids mt-5 wthree">
			<div class="col-md-3 exp">
				<h4>Web Application</h4>
				<h5>2013 - 2016</h5>
			</div>
			<div class="col-md-9 mt-md-0 mt-4 wthree">
				<p>The ideal candidate must have the ability to develop complete websites from scratch. And all websites must be perfectly responsive as well. The quality of work must be great.</p>
			</div>
		</div>
		<div class="row exp-grid1 mt-5 wthree">
			<div class="col-md-9 mb-md-0 mb-4">
				<p>Delivering projects with 1-2 days turn around time or evan within hours.Designed and Implemented Backend in 3 weeks</p>
			</div>
			<div class="col-md-3 exp1 wthree">
				<h4>Back-End Development</h4>
				<h5>2018 - 2019</h5>
			</div>
		</div>
	</div>
</section>
<!-- //experience -->

<!-- blog -->
<section class="blog py-5" id="blog">
	<div class="container py-3">
		<h3 class="heading">Blog</h3>
		<div class="row blog-grids">
			<div class="col-lg-7">
				<h4 class="left-grid-blog">I write error free code</h4>
				<p class="left-grid-blog">Developed dynamic and interactive website that ensured high traffic, page views, user experience, resulting in 40% increase in sales revenue.Designed Process for cleanup and performance improvement that minimized downtime by 135</p>
				<div class="row">
					<div class="col-md-6 pr-md-0 w3ls">
						<div class="blog-grid1">
							<h5>1st January</h5>
							<h4>Top 3 Programming Languages To Learn In 2020 </h4>
							<p>As we enter 2020, it is a good time to review the top three programming languages to learn this year as a software developer. During the entire span of my career, I have used several programming languages and the only constant has been the change.</p>
						</div>
					</div>
					<div class="col-md-6 mt-md-0 mt-3 w3ls">
						<div class="blog-grid1">
							<h5>10 January</h5>
							<h4>Learning Path To Become A Backend Developer in 2020 </h4>
							<p>Are you looking for a career in Backend Development? To build complete applications beyond the user-interface companies need rockstar back-end developers. All the app data is stored and processed on the back-end. Back-end development is everything that happens behind the scenes. It is a variety of things like the databases, the business logic, the API .</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-5 mt-lg-0 mt-5 blog-grid1 w3ls">
				<h5>20 January</h5>
				<h4>The Path To Become A Mobile Developer In 2020 </h4>
				<p>Are you considering mobile development as a career path in 2020? Mobile Apps are everywhere and every product has a mobile version in the app store. I hardly ever use my laptop to browse the internet, or shop for products anymore. Today, everything is done using the phone and it makes sense that mobile development.Handling events is a crucial part of any modern web application. Every developer who works with JavaScript in the browser would benefit from having a deeper knowledge of how events work, what is event bubbling and how to use delegation to optimize the event handling in an app. Well, this is exactly what we are</p>
			</div>
		</div>
	</div>
</section>
<!-- //blog -->

<!-- gallery -->
	<div class="gallery py-5" id="projects">
		<div class="container py-3">
		<h3 class="heading">Projects</h3>
		<div class="row gallery_grid-more project-grids w3ls">
		   <div class="col-md-3 p-0 pr-2 col-sm-3 col-6 agileits_w3layouts_gallery_grid1 hover14 column">
			  <div class="w3_agile_gallery_effect">
				 <a href="images/g1.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
					<figure>
					   <img src="/static/images/g1.jpg" alt=" " class="img-responsive" />
					</figure>
				 </a>
			  </div>
		   </div>
		   <div class="col-md-3 p-0 pr-2 col-sm-3 col-6 agileits_w3layouts_gallery_grid1 hover14 column">
			  <div class="w3_agile_gallery_effect">
				 <a href="images/g2.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
					<figure>
					   <img src="/static/images/g2.jpg" alt=" " class="img-responsive" />
					</figure>
				 </a>
			  </div>
			  <div class="clearfix"> </div>
		   </div>
		   <div class="col-md-6 p-0 col-sm-6 col-12 pt-sm-0 pt-2 agileits_w3layouts_gallery_grid1 hover14 column">
			  <div class="w3_agile_gallery_effect">
				 <a href="images/g3.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
					<figure>
					   <img src="/static/images/g3.jpg" alt=" " class="img-responsive" />
					</figure>
				 </a>
			  </div>
		   </div>
		</div>
		<div class="row gallery_grid-more">
		   <div class="col-md-6 p-0 col-sm-6 col-12 pt-sm-0 pt-2 agileits_w3layouts_gallery_grid1 w3layouts_gallery_grid1 hover14 column">
			  <div class="w3_agile_gallery_effect">
				 <a href="images/g4.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
					<figure>
					   <img src="/static/images/g4.jpg" alt=" " class="img-responsive" />
					</figure>
				 </a>
			  </div>
		   </div>
		   <div class="col-md-3 pt-2 pl-2 p-0 col-sm-3 col-6 agileits_w3layouts_gallery_grid1 hover14 column">
			  <div class="w3_agile_gallery_effect">
				 <a href="images/g5.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
					<figure>
					   <img src="/static/images/g5.jpg" alt=" " class="img-responsive" />
					</figure>
				 </a>
			  </div>
		   </div>
		   <div class="col-md-3 pt-2 pl-2 p-0 col-sm-3 col-6 agileits_w3layouts_gallery_grid1 hover14 column">
			  <div class="w3_agile_gallery_effect">
				 <a href="images/g6.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
					<figure>
					   <img src="/static/images/g6.jpg" alt=" " class="img-responsive" />
					</figure>
				 </a>
			  </div>
		   </div>
		   <div class="clearfix"> </div>
		</div>
	 </div>
  </div>
  <!-- //gallery --> 



<!-- contact -->
<section class="contact py-5" id="contact">
	<div class="container py-3">
		<h3 class="heading">Contact</h3>
		<div class="row contact-grids">
			<div class="col-lg-5 contact-left">
				<h4 class="mb-4">Address Info</h4>
				<div class="row">
					<div class="col-1 pr-0 icon">
						<i class="fa fa-envelope-open" aria-hidden="true"></i>
					</div>
					<div class="col-11">
						<h5>Email</h5>
						<p><a href="mailto:h.a.smrity24@gmail.com"> h.a.smrity24@gmail.com</a></p>
						<p><a href="mailto:pparbon7072@gmail.com"> pparbon7072@gmail.com</a></p>
					</div>
					<div class="col-1 pr-0 icon mt-4">
						<i class="fa fa-phone" aria-hidden="true"></i>
					</div>
					<div class="col-11 mt-4">
						<h5>Phone</h5>
						<p> +880130332364</p>
						<p> +8801646427677</p>
					</div>
					<div class="col-1 pr-0 icon mt-4">
						<i class="fa fa-map-marker" aria-hidden="true"></i>
					</div>
					<div class="col-11 mt-4">
						<h5>Address</h5>
						<p>Tangail, Dhaka, Bangladesh,</p>
						<p> Dhaka - 1204</p>
					</div>
				</div>
			</div>
			<div class="col-lg-7 mt-lg-0 mt-5 contact-right">
				<h4 class="mb-4">Get In Touch</h4>
				<form action="." method="post">
					{% csrf_token %}
					<label><i class="fa mr-2 fa-user" aria-hidden="true"></i> Name</label>
					<input type="text" name="Name" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}" required="">
					<div class="clearfix"></div>
					<label><i class="fas mr-2 fa-envelope-open" aria-hidden="true"></i>Email</label>
					<input type="email" name="Email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
					<div class="clearfix"></div>
					<label><i class="fas mr-2 fa-phone" aria-hidden="true"></i>Phone</label>
					<input type="text" name="Phone" value="Phone" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Phone';}" required="">
					<div class="clearfix"></div>
					<label><i class="fas mr-2 fa-edit" aria-hidden="true"></i>Message</label>
					<textarea name="Message" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message...';}" required="">Message...</textarea>
					<input type="submit" value="Submit">
				</form>
			</div>
		</div>
	</div>
</section>
<!-- //contact -->

<!-- footer -->
<footer class="py-5">
	<div class="container">
		<div class="agileinfo-grids">
			<div class="agile-grid-left agile-grid-right text-center">
				<div class="social mb-4">
					<ul>
						<li><a href="#"><i class="fab mr-2 fa-facebook-f"></i></a></li>
						<li><a href="#"><i class="fab mr-2 fa-twitter"></i></a></li>
						<li><a href="#"><i class="fab mr-2 fa-google-plus"></i></a></li>
						<li><a href="#"><i class="fab mr-2 fa-LinkedIn"></i></a></li>
						<li><a href="#"><i class="fab mr-2 fa-Github"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="copyright text-center">
			<p>© 2018 Personal View. All Rights Reserved | Design by <a href="http://fiverr.com/"> h.a.smrity</a> </p>
		</div>
	</div>
</footer>
<!-- //footer -->


	<!-- js -->
	<script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script> <!-- Necessary-JavaScript-File-For-Bootstrap -->
	<!-- //js -->	
	
	<!--  light box js -->
	<script src="{% static 'js/lightbox-plus-jquery.min.js' %}"> </script>
	<!-- //light box js-->
	<!-- for-Testimonials -->
	<!-- required-js-files-->
	<link href="{% static 'css/owl.carousel.css' %}" rel="stylesheet">
		<script src="{% static 'js/owl.carousel.js' %}"></script>
			<script>
		$(document).ready(function() {
		  $("#owl-demo").owlCarousel({
			items : 1,
			lazyLoad : true,
			autoPlay : true,
			navigation : false,
			navigationText :  false,
			pagination : true,
		  });
		});
		</script>
	<!--//required-js-files-->
	<!-- //for-Testimonials -->


	<!-- start-smoth-scrolling -->
	<script src="{% static 'js/SmoothScroll.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
	<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
	</script>
	<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
	<!-- //here ends scrolling icon -->
	<!-- start-smoth-scrolling -->
{% endblock %}
</body>
</html>

{% include 'form.html' %}